node_modules
**/node_modules
dist
**/dist
build
**/build
.git
.gradle
**/.gradle
uploads
**/uploads
*.log
*.err.log
.env
**/.env
*.env
**/*.env
.env.*
**/.env.*
env
env/
google-services.json
apps/motoboy/app/google-services.json
.temp
**/.temp
*.tsbuildinfo
**/*.tsbuildinfo
